# Django
Django==5.2.14

# Django REST Framework
djangorestframework==3.18.0
django-filter==26.1

# JWT Authentication
djangorestframework_simplejwt==5.5.1

# API Documentation
drf-spectacular==0.30.0
drf-spectacular-sidecar==2026.8.1

# Email Templates
django-mail-templated==2.6.5

# Environment Variables
python-decouple==3.8

# Testing
pytest
pytest-django

# Code Quality
flake8