{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Task {% endblock %}

{% block content %}

<div class="container">

    <div class="card">

        <h1>✏️ Edit Task</h1>

        <form method="POST" class="todo-form">
            {% csrf_token %}

            {% for field in form %}
                {{ field }}
            {% endfor %}

            <button type="submit">
                Update
            </button>

        </form>

        <div class="back">
            <a href="{% url 'todo:index' %}">
                ← Back to Todo List
            </a>
        </div>

    </div>

</div>

{% endblock %}